.custombox .context {
  margin: 0 40px;
  display: inline-block;
  vertical-align: top;
}
.custombox .context h1 {
  font-weight: 400;
}
.custombox .context img {
  display: block;
  height: 200px;
  float: left;
  padding-right: 20px;
}
.custombox .context p {
  width: 600px;
  text-indent: 2em;
}
